body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
	overflow: hidden;
}

p {
	margin: 0;
	font-size: small;
}

a {
	text-decoration: none;
	color: black;
}

#banner {
	background-color: #eeeeee;
	padding: 1rem 4rem;
	border-bottom: 1px solid #c0c0c0;
	display: flex;
	align-items: center;
}

#util {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
	background-color: #eeeeee;
}

#util-btns {
	width: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 2rem 0 0;
}

.util-btn {
	visibility: hidden;
	cursor: pointer;
	width: 30%;
}

#nav {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 90%;
}

.nav-link {
	display: flex;
	justify-content: center;
	width: 13%;
}

.first {
	border-right: 1px solid #c0c0c0;
}

.current {
	color: #d8315b;
}

#footer {
	height: 3rem;
	background-color: #eeeeee;
	border-top: 1px solid #c0c0c0;
}

#content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: scroll;
}

#playlist-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	padding: 4rem;
}

#playlist-img {
	height: 70%;
}

#playlist-songs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem 5rem;
	overflow: scroll;
	width: 70%;
	padding: 4rem;
	align-items: center;
}

.song-card {
	height: 18rem;
	width: 10rem;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow: hidden;
}

.song-info {
	height: 30%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0.5rem;
}

.song-title {
	cursor: pointer;
	font-weight: bold;
}
